<div infinite-scroll='notification.paginateLoad()' infinite-scroll-distance="1" infinite-scroll-disabled="notification.busy" infinite-scroll-parent ng-if="notification.show">
	<md-list>
		<md-list-item class="md-3-line md-long-text" ng-repeat="notification in notification.items | filter: toolbar.searchText" ng-if="notification.type != 'App\\Notifications\\SpreadsheetCreated'" ui-sref="main.task({taskID:notification.task_id})">
			<h2 class="md-headline primary-bg md-avatar" layout="row" layout-align="center center">
	            <span class="white-text">{{ notification.first_letter }}</span>
	        </h2>
	        <div class="md-list-item-text">
	            <h3>{{ notification.sender }}</h3>
	            <h4>{{ notification.message }}</h5>
	            <p><span am-time-ago="notification.created_at"></span></p>
	        </div>
		</md-list-item>
	</md-list>
</div>
<div layout="row" layout-align="center center" layout-padding layout-margin ng-if="isLoading">
	<md-progress-circular class="md-primary" md-diameter="60"></md-progress-circular>
</div>
<div layout-padding layout-margin ng-if="!notification.items.length && notification.show">
	Nothing to display.
</div>

