<div layout="row" layout-align="center center" flex layout-padding> 
    <md-card flex flex-gt-lg="80" ng-if="(!unauthorized && !task.reworks.length) || (user.role=='designer' && task.reworks.length && user.id == authorized_designer_id) || (user.role=='quality_control' && task.reworks.length && user.id == authorized_quality_control_id) || user.role =='admin'">
        <md-card-header>
            <md-card-avatar class="circle primary-bg" layout="row" layout-align="center center">
                <span class="md-headline white-text">{{ task.first_letter }}</span>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{ task.file_name }}</span>
                <span class="md-subhead">{{ task.client }} - {{ task.category }}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline primary-text">
                    <span ng-if="task.status == 'pending'">Pending</span>
                    <span ng-if="task.status == 'in_progress'">In progress</span>
                    <span ng-if="task.status == 'for_qc'">For QC</span>
                    <span ng-if="task.status == 'rework'">Rework</span>
                    <span ng-if="task.status == 'complete'">Complete</span>
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <!-- Desinger -->
            <table class="table">
                <tr>
                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Designer</th>
                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Start</th>
                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">End</th>
                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Minutes spent</th>
                </tr>
                <tr>
                    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ task.designer_assigned.designer.name }} <span ng-if="!task.designer_assigned">N/A</span></td>
                    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ task.designer_assigned.time_start | date: 'MMM dd, yyyy, hh:mma'}} <span ng-if="!task.designer_assigned.time_start">N/A</span></td>
                    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ task.designer_assigned.time_end | date: 'MMM dd, yyyy, hh:mma'}} <span ng-if="!task.designer_assigned.time_end">N/A</span></td>
                    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ task.designer_assigned.minutes_spent}} <span ng-if="!task.designer_assigned.minutes_spent">N/A</span></td>
                </tr>
            </table>
            <!-- Quality Control -->
            <table class="table">
                <tr>
                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">QC</th>
                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Start</th>
                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">End</th>
                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Minutes spent</th>
                </tr>
                <tr>
                    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ task.quality_control_assigned.quality_control.name }} <span ng-if="!task.quality_control_assigned">N/A</span></td>
                    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ task.quality_control_assigned.time_start | date: 'MMM dd, yyyy, hh:mma'}} <span ng-if="!task.quality_control_assigned.time_start">N/A</span></td>
                    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ task.quality_control_assigned.time_end | date: 'MMM dd, yyyy, hh:mma'}} <span ng-if="!task.quality_control_assigned.time_end">N/A</span></td>
                    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ task.quality_control_assigned.minutes_spent}} <span ng-if="!task.quality_control_assigned.minutes_spent">N/A</span></td>
                </tr>
            </table>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-title ng-if="task.reworks.length">
            <md-card-title-text>
                <span class="md-headline accent-text">
                    <span>Revision<span ng-if="task.reworks.length > 1">s</span></span>
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div ng-repeat="rework in task.reworks">            
                <table class="table">
                    <tr>
                        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Designer</th>
                        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Start</th>
                        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">End</th>
                        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Minutes spent</th>
                    </tr>
                    <tr>
                        <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ rework.designer.name }} <span ng-if="!rework.designer.name">N/A</span></td>
                        <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ rework.designer_time_start | date: 'MMM dd, yyyy, hh:mma'}} <span ng-if="!rework.designer_time_start">N/A</span></td>
                        <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ rework.designer_time_end | date: 'MMM dd, yyyy, hh:mma'}} <span ng-if="!rework.designer_time_end">N/A</span></td>
                        <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ rework.designer_minutes_spent}} <span ng-if="!rework.designer_minutes_spent">N/A</span></td>
                    </tr>
                </table>
                <table class="table">
                    <tr>
                        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Quality Control</th>
                        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Start</th>
                        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">End</th>
                        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Minutes spent</th>
                    </tr>
                    <tr>
                        <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ rework.quality_control.name }} <span ng-if="!rework.quality_control.name">N/A</span></td>
                        <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ rework.quality_control_time_start | date: 'MMM dd, yyyy, hh:mma'}} <span ng-if="!rework.quality_control_time_start">N/A</span></td>
                        <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ rework.quality_control_time_end | date: 'MMM dd, yyyy, hh:mma'}} <span ng-if="!rework.quality_control_time_end">N/A</span></td>
                        <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ rework.quality_control_minutes_spent}} <span ng-if="!rework.quality_control_minutes_spent">N/A</span></td>
                    </tr>
                </table>
            </div>
        </md-card-content>
        <md-divider ng-if="!task.deleted_at"></md-divider>
        <md-card-actions layout="row" layout-align="start center" ng-if="!task.deleted_at && !hasPending">
            <div ng-if="task.status == 'pending' && user.role == 'designer'">
                <md-button aria-label="Start Design" ng-click="start()">
                    Design Start
                </md-button>
                <md-button aria-label="Decline" ng-click="decline()">
                    Decline
                </md-button>
            </div>
            <div ng-if="task.status == 'pending' && user.role != 'designer'">
                <md-button aria-label="Assign" ng-click="assign()" ng-if="!task.designer_assigned">
                    Assign
                </md-button>
                <md-button aria-label="Delete" ng-click="delete()" ng-if="!task.designer_assigned">
                    Delete
                </md-button>
                <md-button aria-label="Reassign" ng-click="reassign()" ng-if="task.designer_assigned">
                    Reassign
                </md-button>
            </div>
            <div ng-if="task.status == 'in_progress' && user.role == 'designer'">
                <md-button aria-label="For QC" ng-click="forQC()" ng-if="!task.quality_control_assigned">
                    For QC
                </md-button>
                <md-button aria-label="For QC" ng-click="forQC()" ng-if="task.reworks.length && !under_qc">
                    For QC Revised
                </md-button>
            </div>
            <div ng-if="task.status == 'for_qc' && user.role != 'designer'">
                <md-button aria-label="Start QC" ng-click="startQC()">
                    QC Start <span ng-if="task.reworks.length">Revised</span>
                </md-button>
            </div>
            <div ng-if="task.status == 'in_progress' && user.role != 'designer' && task.quality_control_assigned && !under_revision">
                <md-button aria-label="Rework" ng-click="rework()">
                    Rework
                </md-button>
                <md-button aria-label="Complete" ng-click="complete()">
                    Complete
                </md-button>
            </div>
            <div ng-if="task.status == 'rework' && user.role == 'designer' && task.reworks.length && authorized_designer_id == user.id && !task.reworks[task.reworks.length-1].designer_time_start">
                <md-button aria-label="Revision Start" ng-click="revision()">
                    Revision Start
                </md-button>
                <md-button aria-label="Pass" ng-click="pass()">
                    Pass
                </md-button>
            </div>
            <div ng-if="(task.status == 'rework' && user.role != 'designer' && task.reworks[task.reworks.length-1].quality_control_time_end) ||(task.status == 'rework' && user.role != 'designer' && !task.reworks.length) ">
                <md-button aria-label="Reassign" ng-click="reassign()">
                    Assign Revision
                </md-button>
            </div>
        </md-card-actions>
        <p ng-if="hasPending">
            <md-button ui-sref="main.task({taskID:current})">Current Task</md-button>
            <span class="md-caption secondary-text">*You have an on going task.</span>
        </p>
        <div ng-if="task.comments.length">
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Comments</md-subheader>
            <md-list>
                <md-list-item class="md-3-line md-long-text" ng-repeat="comment in task.comments">
                    <h2 class="md-avatar" ng-class="comment.user.role != 'designer' ? 'orange-bg': 'primary-bg'" layout="row" layout-align="center center">
                        <span class="md-headline white-text">{{comment.first_letter}}</span>
                    </h2>
                    <div class="md-list-item-text">
                        <h3>{{comment.user.name}}</h3>
                        <h4>{{comment.message}}</h4>
                        <span>
                            <span am-time-ago="comment.created_at"></span>
                            <md-tooltip>{{comment.created_at | date: 'EEEE, MMM dd, yyyy, hh:mma'}}</md-tooltip>
                        </span>
                    </div>
                </md-list-item>
            </md-list>
            <form name="form.commentSection" novalidate flex ng-if="task.comments.length">
                <div layout="column" flex>            
                    <md-input-container md-no-float class="md-block">
                        <label>Write a comment..</label>
                        <md-icon class="mdi mdi-account grey"></md-icon>
                        <textarea name="Comment" ng-model="comment.message"></textarea>
                    </md-input-container>
                </div>
                <md-button type="submit" ng-if="!busy" ng-click="submit()">Comment</md-button>
                <md-progress-circular ng-if="busy" md-mode="indeterminate" class="md-primary" md-diameter="60"></md-progress-circular>
            </form>
        </div>
    </md-card>
    <md-content flex layout-margin ng-if="(unauthorized && !task.reworks.length) || (user.role=='designer' && task.reworks.length && user.id != authorized_designer_id) || (user.role=='quality_control' && task.reworks.length && user.id != authorized_quality_control_id)">
        <h1 hide-sm hide-md show-gt-md class="md-display-4 primary-text">Forbidden</h1>
        <p>Sorry, but you are not authorized to view this page.</p>
        <p>It looks like this was the result of either:</p>
        <ul>
            <li>task was re-assigned</li>
            <li>an out-of-date link</li>
        </ul>
        <div class="md-actions" layout="row">
            <a ui-sref="main.tracker" class="md-button md-primary">Back to tracker</a>
        </div>
    </md-content>
</div>