<md-dialog aria-label="Assign Tasks Form"  flex flex-gt-sm="50" flex-gt-lg="40" ng-cloak>
    <form name="assignTaskForm">
        <md-toolbar >
            <div class="md-toolbar-tools">
                <h2 class="white-text">Reassign Task</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="mdi mdi-close mdi-24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content flex layout-padding layout-wrap>
            <div layout="row" layout-wrap flex>
                <!-- Designer -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>Designer</label>
                    <md-select name="Designer" required ng-model="designer" ng-change="setDesigner()">
                        <md-option ng-repeat="user in users" value="{{user.id}}">{{user.name}}</md-option>
                    </md-select>
                    <div ng-messages="assignTaskForm.Designer.$error" ng-if="assignTaskForm.Designer.$touched">
                        <div ng-message="required">Designer is required.</div>
                    </div>
                </md-input-container>
            </div>
            <div flex>
                <md-subheader class="md-no-sticky">Task</md-subheader>
                <md-list layout="row" layout-wrap>
                    <md-list-item class="md-2-line" flex>
                        <h2 class="md-avatar" ng-class="task.deleted_at ? 'accent-bg': 'primary-bg'" layout="row" layout-align="center center">
                            <span class="md-headline white-text">{{task.first_letter}}</span>
                        </h2>
                        <div class="md-list-item-text">
                            <h3>{{task.file_name}}</h3>
                            <h4>{{task.client}} - {{task.category}}</h4>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-dialog-content>
    </form>
    <div layout="row" layout-align="end center">   
        <md-button ng-if="!busy" class="md-primary" aria-label="Submit" ng-click="submit()">
            Reassign
        </md-button>
        <md-progress-circular ng-if="busy" md-mode="indeterminate" class="md-primary" md-diameter="60"></md-progress-circular>
    </div>
</md-dialog>