<div infinite-scroll='type.paginateLoad()' infinite-scroll-distance="1" infinite-scroll-disabled="type.busy" infinite-scroll-parent ng-if="type.show">
	<md-list>
		<md-list-item class="md-3-line secondary-button-padding" ng-repeat="type in type.items | filter: toolbar.searchText | orderBy:sortType:sortReverse" ng-click="showOptions(type)" ng-if="showInactive || !type.deleted_at">
			<h2 class="md-avatar" ng-class="type.deleted_at ? 'accent-bg': 'primary-bg'" layout="row" layout-align="center center">
				<span class="md-headline white-text">{{type.first_letter}}</span>
			</h2>
			<div class="md-list-item-text">
				<h3>{{type.name}}</h3>
				<h4>{{type.email}}</h4>
				<p ng-if="type.details" layout="column">
					<span class="md-caption">Date created: {{type.created_at | date:'EEEE, MMM dd, yyyy, hh:mma'}}</span>
					<span class="md-caption" ng-if="type.deleted_at">Date deleted: {{type.deleted_at | date:'EEEE, MMM dd, yyyy, hh:mma'}}</span>
				</p>
			</div>
			<md-button class="md-secondary md-icon-button" ng-click="type.details = !type.details">
				<md-icon class="mdi mdi-details grey"></md-icon>
				<md-tooltip hide-xs hide-sm hide-md>
					<span ng-if="type.details">Hide</span>
					<span ng-if="!type.details">Show</span>
					details
				</md-tooltip>
			</md-button>
		</md-list-item>
	</md-list>
</div>
<div layout="row" layout-align="center center" layout-padding layout-margin ng-if="isLoading">
	<md-progress-circular class="md-primary" md-diameter="60"></md-progress-circular>
</div>
<div layout-padding layout-margin ng-if="!type.items.length && type.show && !type.no_matches">
	Nothing to display.
</div>
<div layout-padding layout-margin ng-if="type.no_matches && type.show">
	<p>No results matching <strong class="accent-text">"{{query.searchText}}"</strong> were found.</p>
</div>

