body{
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}

a{

    &:hover{
        text-decoration: none;
        color: $main-text;
    }
    &:focus{
        text-decoration: none;
        color: $main-text;
    }
}