.mdi{
	font-size: 24px;
	vertical-align: middle;
	color: white;
}

.md-mini .mdi{
	font-size: 21px;
}

.mdi.grey{
	color: $secondary-text;
}

.mdi.accent{
	color: $accent;
}

.mdi.primary{
	color: $primary500;
}

.mdi.baseline{
	vertical-align: baseline;
}

