/* Blue - Deep Purple */
$primary500: #2196F3;
$primary700: #1976D2;
$primary100: #BBDEFB;

$accent: #7C4DFF;

$main-text: #212121;
$secondary-text: #727272;
$divider: #BDBDBD;

$red500: #F44336;
$orange500: #FF9800;
$teal500: #009688;

