<md-dialog aria-label="Client Form"  flex flex-gt-sm="50" flex-gt-lg="40" ng-cloak>
    <form name="taskForm">
        <md-toolbar >
            <div class="md-toolbar-tools">
                <h2 class="white-text">New task</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="mdi mdi-close mdi-24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content flex layout-padding layout-wrap>
            <div>
                <!-- File Name -->
                <md-input-container class="md-block" flex>
                    <label>File name</label>
                    <input type="text" name="FileName" required ng-model="task.file_name" ng-blur="checkDuplicate()">
                    <div class="pattern" ng-if="duplicate">File name already exists.</div>
                    <div ng-messages="taskForm.FileName.$error" ng-if="taskForm.FileName.$touched">
                        <div ng-message="required">File name is required.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-wrap flex>
                <!-- Delivery Date -->
                <div layout-padding flex-xs="100" flex-sm="100" flex-gt-sm>
                    <h4>Delivery date</h4>
                    <md-datepicker name="DeliveryDate" ng-model="task.delivery_date" md-placeholder="Delivery date" md-max-date="task.live_date" required></md-datepicker>
                    <div class="validation-messages" ng-messages="taskForm.DeliveryDate.$error" ng-if="taskForm.DeliveryDate.$touched">
                        <div ng-message="valid">The entered value is not a date!</div>
                        <div ng-message="required">Delivery date is required.</div>
                        <div ng-message="mindate">Delivery date cannot be later than delivery date.</div>
                    </div>
                </div>
                 <!-- Live Date -->
                <div layout-padding flex-xs="100" flex-sm="100" flex-gt-sm>
                    <h4>Live date</h4>
                    <md-datepicker name="LiveDate" ng-model="task.live_date" md-placeholder="Live date" md-min-date="task.delivery_date" required></md-datepicker>
                    <div class="validation-messages" ng-messages="taskForm.DeliveryDate.$error" ng-if="taskForm.DeliveryDate.$touched">
                        <div ng-message="valid">The entered value is not a date!</div>
                        <div ng-message="required">Live date is required.</div>
                        <div ng-message="mindate">Live date cannot be earlier than delivery date.</div>
                    </div>
                </div>
            </div>
            <div layout="row" layout-wrap flex>
                <!-- Client -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>Client</label>
                    <md-select name="Client" required ng-model="task.client_id">
                        <md-option ng-repeat="client in clients" value="{{client.id}}">{{client.name}}</md-option>
                    </md-select>
                    <div ng-messages="taskForm.Client.$error" ng-if="taskForm.Client.$touched">
                        <div ng-message="required">Client is required.</div>
                    </div>
                </md-input-container>
                <!-- Category -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>Category</label>
                    <md-select name="Category" required ng-model="task.category_id">
                        <md-option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</md-option>
                    </md-select>
                    <div ng-messages="taskForm.Category.$error" ng-if="taskForm.Category.$touched">
                        <div ng-message="required">Category is required.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
    </form>
    <div layout="row" layout-align="end center">   
        <md-button ng-if="!busy" class="md-primary" aria-label="Submit" ng-click="submit()">
            Create
        </md-button>
        <md-progress-circular ng-if="busy" md-mode="indeterminate" class="md-primary" md-diameter="60"></md-progress-circular>
    </div>
</md-dialog>