<div class="md-toolbar-tools">
	<md-nav-bar md-selected-nav-item="subheader.currentNavItem" flex class="md-primary">
	    <md-nav-item ng-repeat="nav in subheader.navs" md-nav-click="nav.action()" name="{{nav.label}}">{{nav.label}}</md-nav-item>
	</md-nav-bar>
</div>
<!-- Icons -->
<md-subheader ng-if="type.items.length">
	<md-button class="md-icon-button" ng-click="init(subheader.currentNavItem, true)">
		<md-icon class="mdi grey mdi-refresh"></md-icon>
		<md-tooltip>Refresh</md-tooltip>
	</md-button>
	<!-- Filter / Sort By -->
	<md-menu>
        <md-button aria-label="Open filters" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon class="mdi mdi-sort-variant grey"></md-icon>
            <md-tooltip>Sort By</md-tooltip>
        </md-button>
        <md-menu-content width="4">
            <md-subheader>Filter</md-subheader>
            <!-- Active -->
            <md-menu-item>
                <md-button ng-click="subheader.toggleActive()">
                    <span ng-if="!showInactive">Show inactive</span>
                    <span ng-if="showInactive">Hide inactive</span>
                </md-button>
            </md-menu-item>
            <md-subheader>Sort By</md-subheader>
            <md-menu-item ng-repeat="item in subheader.sort">
              	<md-button flex ng-click="subheader.sortBy(item)">
              		<div layout="row">
	                	<span>{{item.label}}</span>
	                	<span flex></span>
	                	<md-icon ng-show="!item.sortReverse && sortType == item.type" class="mdi mdi-chevron-down grey"></md-icon>
						<md-icon ng-show="item.sortReverse && sortType == item.type" class="mdi mdi-chevron-up grey"></md-icon>
              		</div>
              	</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-subheader>